%section.intro
  .container.header
    %h1 Dave Woodall
    %h2 Boulder, CO

%section.text
  %section.my-interests
    %nav
      %ul
        %li{ data: { hover: 'about',        content_nav: 'interests' }, class: "box-it" } About
        %li{ data: { hover: 'webcamp',    content_nav: 'interests' }, class: "box-it" } Web Camp
        %li{ data: { hover: 'catmathdo',    content_nav: 'interests' }, class: "box-it" } Cat Math Do
        %li{ data: { hover: 'flipface',     content_nav: 'interests' }, class: "box-it" } Flip Face
        %li{ data: { hover: 'afterburners', content_nav: 'interests' }, class: "box-it" } Afterburners
        %li{ data: { hover: 'hire-dave',    content_nav: 'interests' }, class: "box-it" } hire Dave

%section.side-bar
  .listy.box-it#about{ :data => { content_group: 'interests'  } }
    %h2 About
    %p My various projects and hobbies.


  .listy.box-it#webcamp{ :data => { content_group: 'interests'  } }
    = image_tag "sign.jpg"
    %h2 Web Camp
    %p The internet is here to stay. Web Camp is an intro to HTML & CSS Course I'm going to be teaching, soon...
    %ul
      %li= link_to "Visit Web Camp", 'http://www.boulderwebcamp.com'

  .listy.box-it#catmathdo{ :data => { content_group: 'interests'  } }
    = image_tag "catmathdo.jpg"
    %h2 Cat Math Do
    %p In teaching Oscar about math, I came up with a boardgame.
    %ul
      %li= link_to "Visit Cat Math Do", 'http://www.catmathdo.com'

  .listy.box-it#flipface{ :data => { content_group: 'interests'  } }
    = image_tag "kids.jpg"
    %h2 Flipface
    %p I invented a two shirt costume.


  .listy.box-it#afterburners{ :data => { content_group: 'interests'  } }
    = image_tag "abcd.jpg"
    %h2 Afterburners.
    %p I started a music club to keep up with new music. Each month, one of 14 members made a mix and the album cover artwork. We ended up making 71 albums.
    %ul
      %li= link_to "Visit the blog", 'http://www.afterburnersclub.blogspot.com'

  .listy.box-it#hire-dave{ :data => { content_group: 'interests'  } }
    %h2 hireDave, llc
    %p I enjoy helping others with their design, code, or business needs.
    %ul
      %li= link_to "hireDave", 'http://www.hireDave.me'
